a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;color:white;background-color:#0098d0;}
.hd1 {background-color:white;vertical-align:center;}
.hc1 {vertical-align:center;padding:10px;}
.aa1 {background-color:orange;display:inline;}
.hd2 {background-color:lightblue;vertical-align:center;padding:15px;margin-bottom:20px;}
#ah1 {color:white;}
.c1 {background-color:#f9f9f9;margin-top:10px;}
.dis1 {vertical-align:center;}
div.mesaj {background-color:#0098d0;color:white;font-size:120%;padding:12px 15px 12px 12px;width:300px;}
div.cont {width:50%;font-size:150%;color:#70848f;}
div.lis {padding-top:10px;padding-bottom:10px;}
#log {display:inline;}
